html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: #2185D0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: white;
padding:2px;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea ;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: #2185D0;
    text-decoration: none;
    border: none;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

/**
 * Body Container
 */

.container {
    max-width: 1024px;
    min-height: 100vh;
    background: #f9f9f9;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}